.btn {
  padding: 1vh 2vw;
  border: none;
  border-radius: 1rem;

  background-color: $accent-color;
  font-family: $body-font;
  font-size: 3.5vw;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 1vh 1vw;

    font-size: 1.5vw;
    text-align: center;
  }
}
