@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@300&display=swap');

// Colors
$light-color: #ECECEC;
$dark-color: #000000;
$accent-color: #F6C700;

// Fonts
$heading-font: 'Merriweather', serif;
$body-font: 'Nunito', sans-serif;
