.search {
  position: relative;

  height: 91vh;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;

  animation: transPage 300ms ease-in;

  overflow: hidden;

  &__play {
    margin-top: 13vh;
    width: 47vw;
    height: 23vh;
  }

  &__form {
    margin-top: 15vh;
    width: min(65vw, 30rem);
    height: 6vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--text {
      width: min(45vw, 20rem);
      height: 5vh;
      border: .1rem solid $dark-color;
      border-radius: 1rem;
      padding: max(1vh, 1rem) max(2vw, 1rem);

      background-color: $light-color;
      font-family: $body-font;
      font-size: max(1.6vw, 1.4rem);
      color: $dark-color;
    }

    &--btn {
      border: none;

      background: transparent;

      cursor: pointer;

      svg {
        width: min(10vw, 5rem);
        height: 5vh;

        pointer-events: none;
      }
    }
  }

  &__popcorn {
    position: absolute;
    left: 50%;
    bottom: -12.5vh;
    margin-left: calc(-45vw / 2);

    width: 45vw;
    height: 25vh;

    animation-name: popCornMob;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}

@keyframes popCornMob {
  0% {
    transform: translateY(25vh);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .search {
    height: 88vh;

    &__play {
      margin-top: 13vh;
      width: 40vw;
      height: 30vh;
    }

    &__form {
      margin-top: 10vh;
      width: 40%;
      height: 6vh;

      &--text {
        width: 75%;
        height: 4.5vh;
        padding: min(3vh, 2rem) max(1vw, 1rem);

        font-size: max(0.9vw, 2.0rem);
      }
    }
    &__popcorn {
      margin-left: calc(-55vw / 2);

      width: 55vw;
      height: 30vh;

      animation-name: popCornTab;
    }
  }
}

@keyframes popCornTab {
  0% {
    transform: translateY(30vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes transPage {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
